/* [project]/components/Header_tailwind/styled.component.css (css, app) */
header nav {
  background-image: linear-gradient(76deg, #9d4eb3 7%, #6c37b1 35.92%, #310877 85.69%);
  position: relative;
  filter: drop-shadow(0px 4px 30px rgba(209, 128, 238, 0.2));
  border-radius: 30px;
  z-index: 9;
}
header nav button span {
  color: #f9fafb;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  transition: 0.3s;
}
header nav button span:hover {
  color: #ffb636;
}
header nav button {
  padding: 0 10px;
}
.mobile-switcher {
  border-radius: 6px;
  background: #6532aa;
}
.mobile-switcher .p10 {
  padding: 10px !important;
}
.avatar-new {
  background: url(/newimages/avatar.png) no-repeat center;
  background-size: cover;
  padding: 0 !important;
}
.submenu-x {
  border-radius: 30px;
  border-top: 2.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.4);
  background: rgba(15, 9, 38, 0.895) !important;
}
.submenu-x a {
  color: #fff;
  background: transparent !important;
  transition: 0.3s;
}
.submenu-x a:hover {
  color: #ff8f1f;
}
.lang-menu {
  border-radius: 30px;
  border-top: 2.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.4);
  background: rgba(15, 9, 38, 0.895) !important;
  padding: 20px 10px;
}
.lng-sw .language-switcher {
  margin-bottom: 0;
}
.language-switcher select {
  background: #6532aa !important;
  color: #fff !important;
}
.wrap-line-text {
  margin: auto;
  padding: 18px 0;
}
.marquee-container {
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.marquee {
  display: flex;
  white-space: nowrap;
  animation: scroll 60s linear infinite;
}
.marquee span {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  color: #fff;
  padding-right: 100%;
}
.marquee b {
  color: #ff8f1f;
}
.marquee-container:hover .marquee {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-100%);
  }
}
@media (min-width: 320px) and (max-width: 1259px) {
  .wrap-line-text {
    position: fixed;
    z-index: 4;
  }
  .marquee span {
    font-size: 14px;
  }
  .header {
    margin-top: 41px;
  }
}
.btn.target-top-new-releases {
  position: relative;
  overflow: hidden;
}
.btn.target-top-new-releases:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  animation: shine 2s infinite linear;
}
@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.submenu-all {
  border-radius: 30px;
  border-top: 2.5px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.3);
  background: #310877;
}
.bg-my {
  border-radius: 0px 0px 30px 30px;
  background: var(--\31 23, linear-gradient(76deg, #9d4eb3 7%, #6c37b1 35.92%, #310877 85.69%));
  box-shadow: 0px 4px 30px 0px rgba(209, 128, 238, 0.2);
}
.group-menu-item a, 
.group-menu-item p {
  color: #fff;
}
.bg-orange {
  background: #ff8f1f;
}

/* [project]/app/flags.css (css, app) */
.flag-icon {
  width: 20px;
  height: 20px;
  float: left;
  content: "";
  padding: auto;
  background: url(/countries-list-new.png) no-repeat !important;
}
.flag-icon-au {
  background-position: 0px 0px !important;
}
.flag-icon-at {
  background-position: -20px 0px !important;
}
.flag-icon-be {
  background-position: -40px 0px !important;
}
.flag-icon-bg {
  background-position: -60px 0px !important;
}
.flag-icon-ca {
  background-position: -80px 0px !important;
}
.flag-icon-cz {
  background-position: -100px 0px !important;
}
.flag-icon-dk {
  background-position: -120px 0px !important;
}
.flag-icon-fi {
  background-position: -140px 0px !important;
}
.flag-icon-fr {
  background-position: 0px -20px !important;
}
.flag-icon-de {
  background-position: -20px -20px !important;
}
.flag-icon-gr {
  background-position: -40px -20px !important;
}
.flag-icon-hu {
  background-position: -80px -20px !important;
}
.flag-icon-ie {
  background-position: -100px -20px !important;
}
.flag-icon-it {
  background-position: -120px -20px !important;
}
.flag-icon-nl {
  background-position: -140px -20px !important;
}
.flag-icon-nz {
  background-position: 0px -40px !important;
}
.flag-icon-no {
  background-position: -20px -40px !important;
}
.flag-icon-pl {
  background-position: -40px -40px !important;
}
.flag-icon-pt {
  background-position: -60px -40px !important;
}
.flag-icon-sk {
  background-position: -80px -40px !important;
}
.flag-icon-es {
  background-position: -100px -40px !important;
}
.flag-icon-se {
  background-position: -120px -40px !important;
}
.flag-icon-ch {
  background-position: -140px -40px !important;
}
.flag-icon-tr {
  background-position: -0px -60px !important;
}
.flag-icon-gb {
  background-position: -60px 0px !important;
}
.flag-icon-us {
  background-position: -60px -20px !important;
}
.flag-icon-all {
  background-position: -60px -20px !important;
}


/*# sourceMappingURL=_55d9ef._.css.map*/