/* [project]/components/slider/Card.module.css [app-client] (css) */
.Card-module__dr5V-W__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 2rem 2rem;
  border-radius: 10px;
  border: 2px solid #ffffffe6;
  opacity: 1 !important;
}

.Card-module__dr5V-W__card img {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  min-height: 100px;
  border-radius: 8px;
  margin-right: auto;
  max-height: 100px !important;
  padding-top: 15px !important;
}

.Card-module__dr5V-W__card h2 {
  margin: 0;
  margin-top: 1rem;
}

.Card-module__dr5V-W__card p {
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.Card-module__dr5V-W__card .Card-module__dr5V-W__btnn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div div div:nth-child(6n+1) .Card-module__dr5V-W__card {
  background: url("/bl_02.png");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+2) .Card-module__dr5V-W__card {
  background: url("/ylw_01.jpg");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+3) .Card-module__dr5V-W__card {
  background: url("/bl_02.png");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+4) .Card-module__dr5V-W__card {
  background: url("/gr_02.png");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+5) .Card-module__dr5V-W__card {
  background: url("/ylw_01.jpg");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+6) .Card-module__dr5V-W__card {
  background: url("/gr_02.png");
  background-color: bottom right;
  background-size: cover;
}

@media (width >= 320px) and (width <= 1259px) {
  .Card-module__dr5V-W__card {
    width: 18rem;
    padding: 15px;
  }

  .Card-module__dr5V-W__card img {
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    max-height: 75px;
    margin-top: 0 !important;
    padding: 0 !important;
  }

  div div div:nth-child(6n+1) .Card-module__dr5V-W__card {
    background: url("/green_mobile.png");
  }

  div div div:nth-child(6n+2) .Card-module__dr5V-W__card {
    background: url("/yellow_mobile.png");
  }

  div div div:nth-child(6n+3) .Card-module__dr5V-W__card {
    background: url("/blue_mobile.png");
  }
}


/* [project]/components/Banners_tailwind/TopBrands/styled.component.css [app-client] (css) */
.slider-left .bordered-button {
  border: 2px solid #fff;
  max-width: 250px;
}

.banner-right .bordered-button {
  border: 2px solid #fff;
  max-width: 200px;
}

.slider-left .slick-slide {
  margin: 0 !important;
}

.slider-left .slick-dots li.slick-active button:before {
  color: #4f46e5 !important;
}

.slider-left .slick-dots li button:before {
  font-size: 12px;
}

.slider-left .background {
  min-height: 300px !important;
  max-height: 300px !important;
}

.banner-right {
  min-height: 300px !important;
  max-height: 300px !important;
}

@media (width >= 320px) and (width <= 767px) {
  .topbr-tw {
    overflow: hidden;
  }

  main > .topbr-tw {
    background-position: 0 10% !important;
    background-size: cover !important;
  }
}

@media (width >= 320px) and (width <= 639px) {
  .slider-left .background {
    min-height: 180px !important;
  }
}

@media (width >= 768px) and (width <= 1260px) {
  main > .topbr-tw {
    max-height: 620px;
    height: 620px;
    background-position: 0 10% !important;
    background-size: cover !important;
  }
}

.topbr-tw {
  padding-top: 66px;
}

.topbr-tw p {
  margin-bottom: 0 !important;
}

.slider-left {
  max-width: 694px;
}

.slider-left .slick-slide {
  padding: 0;
}

.background-slider {
  height: 411px;
  max-width: 694px;
  background-size: cover;
  border-radius: 30px;
  padding: 33px 29px 54px;
}

.slick-slide:nth-child(3n+1) .background-slider {
  background: url("/new-banner-slider-1.png") center no-repeat;
}

.slick-slide:nth-child(3n+2) .background-slider {
  background: url("/newimages/new-banner-slider-2.png") center no-repeat;
}

.slick-slide:nth-child(3n+3) .background-slider {
  background: url("/newimages/new-banner-slider-3.png") center no-repeat;
}

.background-slider h3 {
  color: #fff;
  font-family: AA Duke;
  font-size: 94px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: -2px -2px #35d2e7, -4px -2px #fa7088e6;
}

.background-slider p, .jins p {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
}

.topbr-tw .slider-left .slick-dots {
  position: absolute;
  z-index: 1;
  bottom: 45px;
  left: 30%;
  display: flex !important;
}

.topbr-tw .slider-left .slick-dots li {
  border-radius: 50%;
  position: relative;
  margin: 0 3px;
  padding: 0 !important;
  width: 8px !important;
  height: 8px !important;
  background: #ff8f1f !important;
  opacity: .3 !important;
}

.topbr-tw .slider-left .slick-dots li button {
  opacity: 0;
}

.topbr-tw .slider-left .slick-dots li.slick-active {
  content: "";
  background: #ff8f1f !important;
  opacity: 1 !important;
}

.jins p, .jins h5 {
  position: relative;
  z-index: 1;
}

.jins > div {
  max-width: 483px;
  height: 412px;
  padding: 36px 29px;
  position: relative;
  border-radius: 30px;
  border-top: 2px solid #fff6;
  border-bottom: 2px solid #fff6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.jins > .frstjin:before {
  width: 99%;
  height: 412px;
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  background: linear-gradient(45deg, #ff00964d, #0096ff4d);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 1;
  border-radius: 30px;
}

.jins > div:after {
  content: "";
  position: absolute;
  width: 534px;
  height: 458px;
  background: url("/newimages/backendbanner.png") center no-repeat;
  background-size: cover;
  left: -25px;
  top: -30px;
  z-index: -1;
}

.scnjin {
  background: url("/newimages/banr3.png") center no-repeat;
}

.thrdjin {
  background: url("/newimages/thrdjin.png") center no-repeat;
}

.jins > div img {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 30px 30px;
  z-index: 3;
}

.jins > div .btn {
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
}

.h5 {
  color: #fff;
  font-family: AA Duke;
  font-size: 54px;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  text-shadow: -2px -2px #35d2e7, -4px -2px #fa7088e6;
}

.jins > div p, .jins > div h5, .jins > div .btn {
  position: relative;
  z-index: 4;
}

.wrap-button {
  position: relative;
  z-index: 4;
  border-radius: 15px;
  border-top: 2px solid #fff6 solid;
  border-bottom: 2px solid #fff6 solid;
  background: linear-gradient(161deg, #ffffff1a 0%, #ffffff0d 101.7%);
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
  margin-top: auto;
  padding: 10px 20px;
}

.p {
  font-weight: 500;
  color: #ff8f1f;
}

@media (width >= 320px) and (width <= 767px) {
  .wrap-line-text {
    z-index: 99;
  }

  .main__container {
    width: 95%;
  }

  header .main__container {
    padding-top: 50px !important;
  }

  main > .topbr-tw {
    padding-top: 20px;
  }

  .background-slider {
    padding: 20px 10px;
    height: initial;
  }

  .background-slider h3 {
    font-size: 48px;
  }

  .background-slider p, .jins p {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .mob1 {
    flex-direction: column;
  }

  footer {
    display: none !important;
  }

  .jins > div {
    height: initial;
    padding: 20px 10px;
  }

  .jins > div:after {
    display: none;
  }

  .slick-list {
    margin-right: 0;
  }
}


/* [project]/components/Banners_tailwind/Brands_carousel_mobile/styled.component.css [app-client] (css) */
.brand_carousel_mobile .slick-dots li.slick-active button:before {
  color: #4f46e5 !important;
}

.brand_carousel_mobile .slick-dots li button:before {
  font-size: 12px;
}

.brand_carousel_mobile .slick-slide {
  margin: 0 !important;
}


/* [project]/components/Banners_tailwind/Brands_double_carousel/styled.component.css [app-client] (css) */
.brands_rows .wrap {
  max-width: 400px;
}

.brands_rows .items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  gap: 20px;
}

.brands_rows .items-wrap:before, .brands_rows .items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.brands_rows .items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.brands_rows .item {
  flex: none;
  width: 150px;
  height: 100px;
  counter-increment: item;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  transition: all .1s ease-in-out;
}

.brands_rows .item:hover {
  transform: scale(1.05);
}

.brands_rows .marquee {
  animation: 20s linear infinite scroll;
}

.brands_rows .reverce {
  animation-direction: reverse;
}

.brands_rows .items-wrap:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.background-slider2.absolute {
  left: -24px;
}

.background-slider2:after {
  display: flex;
  content: "";
  width: 561px;
  height: 499px;
  background: url("/newimages/bannerSlider.png") 100% 0 no-repeat;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.background .wrap {
  margin-right: 40px;
}

.brands_rows h2.mt-4 {
  font-family: AA Duke;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding-left: 48px;
  color: #fff !important;
  font-size: 108px !important;
}

.brands_rows h2.mt-4 span {
  font-family: AA Duke;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f9a23d !important;
  font-size: 90px !important;
}

.brands_rows h3 {
  margin-top: 111px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
  position: relative;
  z-index: 1;
  padding-left: 48px;
}

.brands_rows p {
  margin-top: 33px;
  color: #cbcbcb;
  font-size: 18px;
  position: relative;
  z-index: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-left: 48px;
}

@media (width >= 320px) and (width <= 767px) {
  .brands_rows {
    padding-top: 0;
  }

  .brands_rows svg {
    display: none;
  }

  .brands_rows h2.mt-4 {
    padding-left: 0;
    font-size: 42px !important;
  }

  .brands_rows h2.mt-4 span {
    font-size: 36px !important;
  }

  .brands_rows h3 {
    margin-top: 0;
    padding-left: 0;
    font-size: 20px;
  }

  .brands_rows p {
    padding-left: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 22px;
  }

  .background .wrap {
    margin-right: 0;
  }

  .background .items .item {
    width: 80px;
    height: 40px;
  }

  .background .items .item img {
    max-width: 80px;
    height: 40px;
  }
}


/* [project]/components/Banners_tailwind/Random_block/styled.component.css [app-client] (css) */
.bg-random {
  border-radius: 30px;
  border-top: 2.5px solid #fff6;
  border-bottom: 2.5px solid #fff6;
  background: linear-gradient(161deg, #ffffff1a 0%, #ffffff0d 101.7%);
  -webkit-backdrop-filter: blur(17.915px);
  backdrop-filter: blur(17.915px);
  position: relative;
}

.abs-banner {
  position: relative;
}

.abs-banner:after {
  content: "";
  width: 524px;
  height: 328px;
  background: url("/newimages/bannerRandom3.png") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: -66px;
}

.abs-banner:before {
  content: "";
  position: absolute;
  background: url("/newimages/bannerRandom4.png") center no-repeat;
  width: 457px;
  height: 423px;
  top: 50px;
  left: -28px;
  z-index: -1;
}

.bg-random:after {
  content: "";
  position: absolute;
  width: 496px;
  height: 388px;
  background: url("/newimages/bannerRandom2.png") center no-repeat;
  background-size: cover;
  bottom: -129px;
  right: -112px;
}

.random-title {
  color: #fff;
  font-family: AA Duke;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: -2px -2px #35d2e7, -4px -2px #fa7088e6;
}

.random-title span {
  color: #ff8f1f;
}

.bg-random p.text-white {
  color: #cbcbcb;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media (width >= 320px) and (width <= 767px) {
  .abs-banner {
    display: none;
  }

  .bg-random:after {
    width: 147px;
    height: 104px;
    bottom: 0;
    right: 0;
  }

  .bg-random .btn-new {
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: auto;
  }

  .mlml {
    display: flex;
    justify-content: flex-start;
  }

  .ptpt {
    padding-top: 0 !important;
  }
}


/* [project]/components/Banners_tailwind/Three_part_gallery/Popular_offers/styled.component.css [app-client] (css) */
.popular-offers .slick-slide {
  margin-right: 0 !important;
}


/* [project]/components/Banners_tailwind/Fortune_wheel_banner/styled.component.css [app-client] (css) */
.background-roulete {
  background: url("/newimages/banner-roulete.png") center no-repeat;
  border-radius: 30px;
  padding: 43px 0;
}

.bg-main {
  border-radius: 30px;
  border-top: 2.5px solid #fff6;
  border-bottom: 2.5px solid #fff6;
  background: linear-gradient(161deg, #ffffff1a 0%, #ffffff0d 101.7%);
  -webkit-backdrop-filter: blur(17.915px);
  backdrop-filter: blur(17.915px);
}

.bg-main .p {
  color: #9ca3af;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bg-main h2 {
  color: #fff;
  font-family: AA Duke;
  font-size: 74px;
  font-weight: 400;
  line-height: normal;
  text-shadow: -2px -2px #35d2e7, -4px -2px #fa7088e6;
}

.bg-main h2 span {
  font-size: 60px;
  color: #ff8f1f;
}

.bg-main h5 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.bg-main h5 span {
  color: #ff8f1f;
}

@media (width >= 320px) and (width <= 767px) {
  .bg-main h2 {
    font-size: 36px;
    line-height: 42px;
  }

  .bg-main .p {
    padding: 0 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }

  .mtt {
    margin-top: 0;
  }
}


/*# sourceMappingURL=components_627620._.css.map*/
