/* [project]/components/TopBrands/styled.component.css (css, ssr) */
.slider-left {
  min-height: 350px;
}
.banner-right {
  min-height: 350px;
}
.slider-left .bordered-button {
  border: solid 2px white;
  max-width: 250px;
}
.banner-right .bordered-button {
  border: solid 2px white;
  max-width: 200px;
}
.slider-left .slick-slide {
  margin: 0 !important;
}
.slider-left .slick-dots li.slick-active button:before {
  color: #4f46e5 !important;
}
.slider-left .slick-dots li button:before {
  font-size: 12px;
  color: #ffffff;
}
.topbr-tw {
  background-color: #1d2730;
  background-image: url(/bgfilter2.png) !important;
  background-position: bottom !important;
  background-size: contain;
}
@media (min-width: 320px) and (max-width: 767px) {
  .topbr-tw {
    overflow: hidden;
  }
  main > .topbr-tw {
    max-height: 820px;
    height: 820px;
    background-position: top 10% left 0 !important;
    background-size: cover !important;
  }
}
@media (min-width: 768) and (max-width: 1260px) {
  main > .topbr-tw {
    max-height: 620px;
    height: 620px;
    background-position: top 10% left 0 !important;
    background-size: cover !important;
  }
}