/* [project]/components/Banners_tailwind/Brands_carousel_mobile/styled.component.css (css, ssr) */
.brand_carousel .slick-dots li.slick-active button:before {
  color: #4f46e5 !important;
}
.brand_carousel .slick-dots li button:before {
  font-size: 12px;
}
.brand_carousel .slick-slide {
  margin: 0 !important;
}