/* [project]/components/Banners_tailwind/TopBrands/styled.component.css (css, ssr) */
.djinn {
  background-image: url(/Djinn_get_bonus.png) !important;
  background-position: bottom !important;
  background-size: cover;
}
.slider-left .bordered-button {
  border: solid 2px white;
  max-width: 250px;
}
.banner-right .bordered-button {
  border: solid 2px white;
  max-width: 200px;
}
.slider-left .slick-slide {
  margin: 0 !important;
}
.slider-left .slick-dots li.slick-active button:before {
  color: #4f46e5 !important;
}
.slider-left .slick-dots li button:before {
  font-size: 12px;
}
.topbr-tw {}
@media (min-width: 320px) and (max-width: 767px) {
  .topbr-tw {
    overflow: hidden;
  }
  main > .topbr-tw {
    background-position: top 10% left 0 !important;
    background-size: cover !important;
  }
}
@media (min-width: 768) and (max-width: 1260px) {
  main > .topbr-tw {
    max-height: 620px;
    height: 620px;
    background-position: top 10% left 0 !important;
    background-size: cover !important;
  }
}
.slider-left .background {
  min-height: 300px !important;
  max-height: 300px !important;
}
.banner-right {
  min-height: 300px !important;
  max-height: 300px !important;
}
.topbr-tw p {
  margin-bottom: 0 !important;
}